# URL de conexão para o seu banco de dados PostgreSQL, usando a string de conexão nativa.
DATABASE_URL="postgresql://neondb_owner:"
# URL de conexão para o seu banco de dados PostgreSQL, usando a string de conexão nativa, com pooling habilitado.
DATABASE_URL_POOL="postgresql://neondb_owner:"